In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv(r'C:\Users\Pratham Bisht\OneDrive\Desktop\DS DATASETS\Airline Passenger Satisfaction Dataset\train.csv')

In [3]:
data.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [4]:
data.shape

(103904, 25)

In [5]:
data['satisfaction'].value_counts()

satisfaction
neutral or dissatisfied    58879
satisfied                  45025
Name: count, dtype: int64

In [6]:
data['satisfaction']=data['satisfaction'].map({'satisfied':1,'neutral or dissatisfied':0})

In [7]:
data['Class'].value_counts()

Class
Business    49665
Eco         46745
Eco Plus     7494
Name: count, dtype: int64

In [8]:
df=data[['Class']]

In [9]:
data=data.drop('Class',axis=1)

In [10]:
df.head()

      Class
0  Eco Plus
1  Business
2  Business
3  Business
4  Business

In [11]:
from sklearn.preprocessing import OrdinalEncoder

In [12]:
oe=OrdinalEncoder(categories=[['Eco','Eco Plus','Business']])

In [13]:
#reshaped_data = data[['Class']].values

In [14]:
#reshaped_data

In [15]:
df=oe.fit_transform(df)

In [16]:
df

array([[1.],
       [2.],
       [2.],
       ...,
       [2.],
       [0.],
       [2.]])

In [17]:
df=pd.DataFrame(df,columns=['Class'])

In [18]:
df.head()

   Class
0    1.0
1    2.0
2    2.0
3    2.0
4    2.0

In [19]:
data.insert(6,'Class',df['Class'])

In [20]:
data.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,1.0,460,3,4,...,5,4,3,4,4,5,5,25,18.0,0
1,1,5047,Male,disloyal Customer,25,Business travel,2.0,235,3,2,...,1,1,5,3,1,4,1,1,6.0,0
2,2,110028,Female,Loyal Customer,26,Business travel,2.0,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,1
3,3,24026,Female,Loyal Customer,25,Business travel,2.0,562,2,5,...,2,2,5,3,1,4,2,11,9.0,0
4,4,119299,Male,Loyal Customer,61,Business travel,2.0,214,3,3,...,3,3,4,4,3,3,3,0,0.0,1

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
le = LabelEncoder()

In [23]:
data['Gender']=le.fit_transform(data['Gender'])
data['Customer Type']=le.fit_transform(data['Customer Type'])
data['Type of Travel']=le.fit_transform(data['Type of Travel'])

In [24]:
data.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,1,0,13,1,1.0,460,3,4,...,5,4,3,4,4,5,5,25,18.0,0
1,1,5047,1,1,25,0,2.0,235,3,2,...,1,1,5,3,1,4,1,1,6.0,0
2,2,110028,0,0,26,0,2.0,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,1
3,3,24026,0,0,25,0,2.0,562,2,5,...,2,2,5,3,1,4,2,11,9.0,0
4,4,119299,1,0,61,0,2.0,214,3,3,...,3,3,4,4,3,3,3,0,0.0,1

In [25]:
#label=data['satisfaction']

In [26]:
#data=data.drop('satisfaction',axis=1)

In [27]:
#data.head()

In [28]:
data.isnull().mean()*100

Unnamed: 0                           0.000000
id                                   0.000000
Gender                               0.000000
Customer Type                        0.000000
Age                                  0.000000
Type of Travel                       0.000000
Class                                0.000000
Flight Distance                      0.000000
Inflight wifi service                0.000000
Departure/Arrival time convenient    0.000000
Ease of Online booking               0.000000
Gate location                        0.000000
Food and drink                       0.000000
Online boarding                      0.000000
Seat comfort                         0.000000
Inflight entertainment               0.000000
On-board service                     0.000000
Leg room service                     0.000000
Baggage handling                     0.000000
Checkin service                      0.000000
Inflight service                     0.000000
Cleanliness                          0.000000
Departure Delay in Minutes           0.000000
Arrival Delay in Minutes             0.298352
satisfaction                         0.000000
dtype: float64

In [29]:
data['Arrival Delay in Minutes'].fillna(data['Arrival Delay in Minutes'].median(),inplace = True)

In [30]:
data.isnull().sum()

Unnamed: 0                           0
id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

In [31]:
data['Class'].value_counts()

Class
2.0    49665
0.0    46745
1.0     7494
Name: count, dtype: int64

In [32]:
data.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,1,0,13,1,1.0,460,3,4,...,5,4,3,4,4,5,5,25,18.0,0
1,1,5047,1,1,25,0,2.0,235,3,2,...,1,1,5,3,1,4,1,1,6.0,0
2,2,110028,0,0,26,0,2.0,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,1
3,3,24026,0,0,25,0,2.0,562,2,5,...,2,2,5,3,1,4,2,11,9.0,0
4,4,119299,1,0,61,0,2.0,214,3,3,...,3,3,4,4,3,3,3,0,0.0,1

In [33]:
# data=pd.get_dummies(data,columns=['Gender','Customer Type','Type of Travel'])

In [34]:
# data.head()

In [35]:
# data['Gender_Female'] = np.where((data['Gender_Female']) == True, 1, 0)
# data['Gender_Male'] = np.where((data['Gender_Male']) == True, 1, 0)
# data['Customer Type_Loyal Customer'] = np.where((data['Customer Type_Loyal Customer']) == True, 1, 0)
# data['Customer Type_disloyal Customer'] = np.where((data['Customer Type_disloyal Customer']) == True, 1, 0)
# data['Type of Travel_Business travel'] = np.where((data['Type of Travel_Business travel']) == True, 1, 0)
# data['Type of Travel_Personal Travel'] = np.where((data['Type of Travel_Personal Travel']) == True, 1, 0)

In [36]:
#data.head()

In [37]:
corr_mat=data.corr().round(2)

In [38]:
import seaborn as sns

In [39]:
corr_mat['satisfaction']

Unnamed: 0                          -0.00
id                                   0.01
Gender                               0.01
Customer Type                       -0.19
Age                                  0.14
Type of Travel                      -0.45
Class                                0.49
Flight Distance                      0.30
Inflight wifi service                0.28
Departure/Arrival time convenient   -0.05
Ease of Online booking               0.17
Gate location                        0.00
Food and drink                       0.21
Online boarding                      0.50
Seat comfort                         0.35
Inflight entertainment               0.40
On-board service                     0.32
Leg room service                     0.31
Baggage handling                     0.25
Checkin service                      0.24
Inflight service                     0.24
Cleanliness                          0.31
Departure Delay in Minutes          -0.05
Arrival Delay in Minutes            -0.06
satisfaction                         1.00
Name: satisfaction, dtype: float64

In [40]:
# Get the column names of the DataFrame
columns = corr_mat.columns

# Create an empty list to keep track of columns to drop
columns_to_drop = []

# Loop over the columns
for i in range(len(columns)):
    for j in range(i + 1, len(columns)):
        # Access the cell of the DataFrame
        if abs(corr_mat.loc[columns[i], columns[j]] > 0.7):
            columns_to_drop.append(columns[j])

print(len(columns_to_drop))

2

In [41]:
columns_to_drop = set(columns_to_drop)

In [42]:
columns_to_drop

{'Arrival Delay in Minutes', 'Ease of Online booking'}

In [43]:
data=data.drop(['Ease of Online booking', 'Arrival Delay in Minutes'],axis=1)
label=data['satisfaction']

In [44]:
data.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,satisfaction
0,0,70172,1,0,13,1,1.0,460,3,4,...,5,5,4,3,4,4,5,5,25,0
1,1,5047,1,1,25,0,2.0,235,3,2,...,1,1,1,5,3,1,4,1,1,0
2,2,110028,0,0,26,0,2.0,1142,2,2,...,5,5,4,3,4,4,4,5,0,1
3,3,24026,0,0,25,0,2.0,562,2,5,...,2,2,2,5,3,1,4,2,11,0
4,4,119299,1,0,61,0,2.0,214,3,3,...,5,3,3,4,4,3,3,3,0,1

In [45]:
data.shape

(103904, 23)

In [46]:
label.head()

0    0
1    0
2    1
3    0
4    1
Name: satisfaction, dtype: int64

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
train_X,test_X,train_Y,test_Y=train_test_split(data,label,test_size=0.4,random_state=7)

In [49]:
print(train_X.shape,train_Y.shape,test_X.shape,test_Y.shape)

(62342, 23) (62342,) (41562, 23) (41562,)

In [50]:
from sklearn.preprocessing import StandardScaler

In [51]:
scaler=StandardScaler()

In [52]:
train_X=scaler.fit_transform(train_X)
test_X=scaler.transform(test_X)

In [53]:
from sklearn.svm import SVC

In [54]:
svm = SVC()

svm.fit(train_X,train_Y)

SVC()

In [55]:
Y_pred=svm.predict(test_X)

In [56]:
Y_pred

array([0, 1, 0, ..., 1, 0, 0], dtype=int64)

In [57]:
svm.score(test_X,test_Y)

0.9999759395601752

In [58]:
from sklearn.metrics import accuracy_score

In [59]:
accuracy=accuracy_score(test_Y,Y_pred)

In [60]:
print("Accuracy of the model is:",accuracy*100)

Accuracy of the model is: 99.99759395601751

In [65]:
data[['Class']]

        Class
0         1.0
1         2.0
2         2.0
3         2.0
4         2.0
...       ...
103899    0.0
103900    2.0
103901    2.0
103902    0.0
103903    2.0

[103904 rows x 1 columns]